@using TradingManagmentSystem.Models;
@model CoinsWrapper

@{
    ViewBag.Title = "Admin Page";
}
<form method="post" action="">
    <div class="container">

        <div class="row col-md-4">
            <h4>
                @Html.LabelFor(modelItem => Model.Count1): @Html.EditorFor(modelItem => Model.Count1)
                @Html.LabelFor(modelItem => Model.Count2): @Html.EditorFor(modelItem => Model.Count2)
                @Html.LabelFor(modelItem => Model.Count5): @Html.EditorFor(modelItem => Model.Count5)
                @Html.LabelFor(modelItem => Model.Count10): @Html.EditorFor(modelItem => Model.Count10)
            </h4>
        </div>
    </div>

    <div class="container">
        <div class="row col-md-4">
            <h4>
                Avaliable Coins:
                1 @Html.EditorFor(modelItem => Model.Avaliable1)
                2 @Html.EditorFor(modelItem => Model.Avaliable2)
                5 @Html.EditorFor(modelItem => Model.Avaliable5)
                10 @Html.EditorFor(modelItem => Model.Avaliable10)
            </h4>
        </div>
    </div>
    <h4>
        <input type="submit" value="Сохранить" />
    </h4>
</form>